/* Chota overrides */
:root {
  --bg-color: #f7f7f7;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854F;
  --color-primary: #AA2222;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 14pt;
  --font-color: #333333;
  --font-family-sans: sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

/* Custom */

#container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1600px;
}

#header {
  flex: 1 1 100px;
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 100%;
  min-width: 100px;
  padding: 0 12px 12px 12px;
  text-align: center;

  #site-title {
    margin-top: 0;
    text-align: center;
  }
  a {
    display: inline-block;
    margin-top: 0.3rem;
    min-width: 100px;
  }
  img {
      max-width: 100px;
  }
}

#content {
  flex: 1 1 1400px;
  max-width: 100%;

  h1 {
    font-variant: small-caps;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }
  h2 {
    border-bottom: 1px solid black;
    font-variant: small-caps;
    text-align: center;

    &.post-title {
      border-bottom: unset;
      margin: 0 auto 1rem auto;;
      max-width: 50ch;
    }
  }
  .comments-heading {
    border-bottom: none;
    font-variant: unset;
    text-align: left;
  }

  #columns {
    display: flex;
    flex-wrap: wrap;

    h2 {
      border-bottom: unset;
      font-variant: unset;
      text-align: left;
    }

    nav {
      margin: 0 0 2rem 0;;
      min-width: 200px;
      padding: 0 32px;

      ul {
        list-style-type: none;
        padding-left: 0;
      }
    }
    main {
      flex: 1 1;
      padding: 0 2ch;
      width: 100%;
    }
    aside {
      flex: inherit;
      margin: 0 auto;
      margin-bottom: 3rem;
      max-width: 50ch;
      padding: 0 12px;

    } 
  }
}

#footer {
  border-top: 1px solid #ccc;
  flex: 0 0 100%;
  margin-top: 1rem;
  padding-top: 1rem;

  a {
    color: black;
  }

}

#banner {
  background-image: url("/ThierschLudwig_AlaricAAthenes.jpg");
  background-position: 50% 40%;
  height: 100px;
  margin-bottom: 3rem;
  width: 100%;
}

.back-to-top {
  text-align: center;
}

a {
  color: #A22;
}
a.audio-dl {
  vertical-align: top;
}
a.back-to-top {
  margin-top: 5rem;
  text-align: center;
  width: 100%;
}
a#current {
  color: black;
  font-style: italic;
}


blockquote {
  border-left: 2px solid #ccc;
  margin: 20px 0 20px 20px;
  padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr {
  border-top: 2px dotted black;
  margin: 0 auto;
  width: 40px;
}

p {
  font-size: 14pt;
}

.article-tag {
  color: #A22;
  padding: 0.1rem 0.25rem;
}

audio {
  display: block;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  width: 100%;
}

video {
  display: block;
  height: auto;
  margin-bottom: 4rem;
  max-width: 100%;
  width: 600px;
}

.text-center {
  text-align: center;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 2ch 1ch 2ch;

  dt {
    display: inline-flex;
    font-weight: bold;
    margin: 0;
    padding-right: 1ch;
    vertical-align: middle;

    &::after {
      content: " ";
    }
  }

  dd {
    display: inline;
    margin: 0;
  }
}

section.body {
  font-size: 14pt;
  line-height: 20pt;
  margin: 0 auto 2rem auto;
  max-width: 70ch;
  padding-left: 2ch;
  padding-right: 2ch;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
  }

  p:first-of-type::first-letter {
    font-size: 3em;
    float: left;
    margin-right: 0.1em;
  }
}

.hr {
  border-bottom: 1px solid black;
  margin: 0 auto 1rem auto;
}


/* Aside / Comments */

.metadata-stats {
  .unique-usernames::before {
    content: "Commenters: ";
  }
  .root-comments::before {
    content: "Root comments: ";
  }
  .nested-comments::before {
    content: "Nested comments: ";
  }
  .total-upvotes::before {
    content: "Total upvotes: ";
  }
  .total-downvotes::before {
    content: "Total downvotes: ";
  }
}

.comment {
  font-size: 13pt; 

  .comment-author {
    font-weight: bold;
  }
  .comment-id {
    color: #777;
    &::after {
      content: ")";
    }
    &::before {
      content: "(";
    }
  }
  .comment-date {
    color: #777;
  }
  .comment-votes {
    &::after {
      content: " pts]";
    }
    &::before {
      content: "[";
    }
    color: #333;
  }
  padding-top: 1rem;

}

#comments {
  column-count: 1;
  column-gap: 1rem;


  h3 { display: none; }
}

.comment {
  border-left: 1px solid #aaa;

  &.level-0 {
    border-left: unset;
    break-inside: avoid-column;
  }

  &[class*="level-"]:not(.level-0) {
    margin-left: 1px;
    padding-left: 6px;
  }

  .comment-author.thezman {
    background: gold;
  }

}

.button {
  display: block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid;
  color: #A22;
  max-width: 100%; 
  margin: 1ch;
  background-color: #fafbfc;
  border-color: #222;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  &:hover,  {
      color: #ffffff;
      background-color: #A22;
      border-color: #A22;
      box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px 0px, rgba(255, 255, 255, 0.03) 0px 1px 0px 0px inset;
      transition-duration: 0.1s;
  }
}              

#editor-note {
  background: #eee;
  padding: 0.1rem 1rem;

  p {
    font-size: 85%;
    line-height: 140%;
  }

  p:first-of-type::first-letter {
    float: unset;
    font-size: 100%;
    margin: unset;
  }

}


@media screen and (max-width: 768px) {
  #header a {
    max-width: unset;
    min-width: unset;
    margin: 0 1ch;
  }
  #comments {
    column-count: 1;
  }
  
  #content {
    #columns {
      nav { order: 3; }
      aside { 
        border: 1px solid #aaa;
        padding-bottom: 2rem;
        order: 2;
      }
      section.body { order: 1; }



    }

  }
}
