{{ define "main" }}
  <h2>Read</h2>
  <div id="columns">
    <nav>
      <h3>Categories</h3>
      <ul>
        {{ $categories := .Site.Taxonomies.categories }}
        {{ if $categories }}
          {{ $lastIndex := sub (len $categories) 1 }}
          {{ $index := 0 }}
          {{ range $name, $_ := $categories }}
            <li><a class='article-tag' href="{{ "/categories/" | relURL }}{{ $name | urlize }}">{{ $name | title }}</a> ({{ len $_}})</li>
          {{ end }}
        {{ else }}
          No categories found.
        {{ end }}
      </ul>
    </nav>
    <main>
      {{ if isset .Data "Term" }}
      <h3>{{ .Data.Term }}</h3>
      {{ else }}
      <h3 class="page-title">All articles</h3>
      {{ end }}

      <ul class="posts">
        {{- range .Data.Pages -}}
          {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
          <li class="post">
            <a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
          </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </main>
  </div>
{{ end }}
