{{ define "main" }}
  <h2>Read</h2>
  <div id="columns">
    <nav>
      {{ partial "nav-read.html" . }}
    </nav>
    <main>
      {{ if isset .Data "Term" }}
      <h3>{{ .Data.Term }}</h3>
      {{ else }}
      <h3 class="page-title">All articles</h3>
      {{ end }}

      <ul class="posts">
        {{- range .Data.Pages -}}
          {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
          <li class="post">
            <a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
          </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </main>
  </div>
{{ end }}
