{{ define "main" }}
<h1>Watch</h1>
<div class="row">
  <div class="col-3">
    <h5>AmRen 2022</h5>
    <ul>
      <li><a href="#AmRen_ChristopherZeeman_ZMan_WhatIsToBeDone_2022_2025-07-02.mp4">What Is to Be Done?</a></li>
    </ul>
    <h5>RamZPaul Show</h5>
    <ul>
      <li><a href="#RamZPaul_2025-02-19_PastWeek_ZMan.mp4">Past Week</a></li>
      <li><a href="#RamZPaul_2025-02-26_OnNixonAndTrump_ZMan.mp4">Nixon</a></li>
      <li><a href="#RamZPaul_2025-03-05-OnCommunism_ZMan.mp4">Communism</a></li>
      <li><a href="#RamZPaul_2025-03-12_OnReagan_ZMan.mp4">Reagan</a></li>
      <li><a href="#RamZPaul_2025-03-19_UranusAndOtherHeavenlyBodies_ZMan.mp4">Uranus</a></li>
    </ul>
  </div>
  <div class="col-9">
    {{ .Content }}
  </div>
</div>
{{ end }}
