<nav>
  <h3>2Kevins</h3>
    <ul>
      <li><a href="#GraceAndSteel_2017-04-19_E78_ZMan.mp3">2017-04-19 - #78</a></li>
    </ul>
  <h3>Blood Satellite</h3>
    <ul>
      <li><a href="#BloodSatellite_2023-04-13_ZMan_PolyarchyAndDissidentNetworking.mp3">2023-04-13</a></li>
    </ul>
  <h3>Coffee & A Mike</h3>
    <ul>
      <li><a href="#CoffeeAndAMike_2022-11-04_E515_ChristopherZeeman.mp3">2022-11-04 - #515</a></li>
      <li><a href="#CoffeeAndAMike_2022-04-12_E589_ChristopherZeeman.mp3">2023-04-12 - #589</a></li>
      <li><a href="#CoffeeAndAMike_2023-09-25_E680_ChristopherZeeman.mp3">2023-09-25 - #680</a></li>
      <li><a href="#CoffeeAndAMike_2024-01-19_E729_ChristopherZeeman.mp3">2024-01-19 - #729</a></li>
      <li><a href="#CoffeeAndAMike_2024-07-09_E861_ChristopherZeeman.mp3">2024-07-09 - #861</a></li>
      <li><a href="#CoffeeAndAMike_2024-09-01_E910_ChristopherZeeman.mp3">2024-09-01 - #910</a></li>
      <li><a href="#CoffeeAndAMike_2024-10-27_E966_ChristopherZeeman.mp3">2024-10-27 - #966</a></li>
      <li><a href="#CoffeeAndAMike_2024-12-30_E1025_ChristopherZeeman.mp3">2024-12-30 - #1025</a></li>
      <li><a href="#CoffeeAndAMike_2025-02-23_E1077_ChristopherZeeman.mp3">2025-02-23 - #1077</a></li>
    </ul>
  <h3>Counter-Currents</h3>
    <ul>
      <li><a href="#CounterCurrents_2017-08-15_E189_ZMan.mp3">2017-08-15 - #189</a></li>
      <ul><a href="#CounterCurrents_2020-10-13_E294_ZMan.mp3">2020-10-13 - #294</a></li>
    </ul>
  <h3>J. Burden</h3>
    <ul>
      <li><a href="#JBurdenShow_2024-04-03_E181_ZMan.mp3">2024-04-03 - #181</a></li>
      <li><a href="#JBurdenShow_2024-09-02_E227_ZMan.mp3">2024-09-02 - #227</a></li>
      <li><a href="#JBurdenShow_2025-03-20_E280_ZMan.mp3">2025-03-20 - #280</a></li>
    <ul>
  <h3>Jolly Heretic</h3>
    <ul>
      <li><a href="#JollyHeretic_2021_ZMansTheoryOfEverything.mp3">2021</a></li>
    </ul>
  <h3>Jose Nino</h3>
    <ul>
      <li><a href="#JoseNino_2022-06-07_E33_ZMan.mp3">2022-06-07 - #33</a></li>
      <li><a href="#JoseNino_2023-07-18_E87_ZMan.mp3">2023-07-18 - #87</a></li>
    </ul>
  <h3>Myth20c</h3>
    <ul>
      <li><a href="#Myth20C_2019-10-09_E141_ZMan.mp3">2019-10-09 - #141</a></li>
    </ul>
  <h3>No Apologies</h3>
    <ul>
      <li><a href="#NAL_2018-12-14_E13_ZMan.mp3">2018-12-14 - #13</a></li>
    </ul>
  <h3>Paul Kersey</h3>
    <ul>
      <li><a href="#PaulKersey_2025-05-27_GeorgeFloyd5thYearAnniversary_HarrisonSmith-Brimelow-ZMan.mp3">2025-05-27 - George Floyd</a></li>
      <li><a href="#PaulKersey_2025-06-10_BattleLA_WithZMan.mp4">2025-06-19 - Battle L.A.</a></li>
      <li><a href="#PaulKersey_2025-06-23_Remigration_Lyman-Brimelow-ZMan.mp3">2025-06-23 - Remigration</a></li>
    </ul>
  <h3>Pete Quinones</h3>
    <ul>
      <li><a href="#PeteQuinonesShow_2023-08-27_E939_ZMan.mp3">2023-08-27 - #939</a></li>
      <li><a href="#PeteQuinonesShow_2024-07-21_E1082_ZMan-Deist-Nino.mp3">2024-07-21 - #1082</a></li>
      <li><a href="#PeteQuinonesShow_2024-08-24_PetesTwitterSpaceOnArrestOfPavelDurov_ZMan.mp3">2024-08-24 - Durov</a></li>
      <li><a href="#PeteQuinonesShow_2025-02-27_OGCLivestream_ZMan.mp3">2025-02-27 - OGC w/ Z</a></li>
    </ul>
  <h3>RamZPaul</h3>
    <ul>
      <li><a href="#RamZPaul_2025-01-01_HappyHomelands_ZMan.mp3">2025-01-01 - Happy Homelands</a></li>
    </ul>
  <h3>View from the Right</h3>
    <ul>
      <li><a href="AmRen_ViewFromTheRight_2025-07-01_RememberingZMan.mp3">2025-07-01</a></li>
    </ul>
</nav>
